//Minimal flag
{name = min; desc = "Description of the most basic flag.}test{}";}

//The shouldn't be caught {lets see
what happens
{
  name = verbose;
  sh   = v;
  desc = "Display additional info while running";
  para_t = int;
  default_para = 0;
}

{
 name = help_all;
 sh   = h;
 desc = "Show help page";
 para_t = none;
}

{
 name = outfile;
 desc = "Set the output file name";
 para_t = string;
 default_para = "file.txt";
}

{
 name = force;
 sh = f;
 desc = "Force the program to run. Ignore errors";
}

{
  name = int_good;
  desc = "Testing int para type";
  para_t = int;
  default_para = 0;
}

{
  name = x_offset;
  desc = "Offset from the origin along the x axis";
  para_t = double;
  default_para = 0.01;
}

