//Minimal flag
{name = min; desc = "Description of the most basic flag.}
test{}";}

//The shouldn't be caught {lets see
what happen
{
  name = ver100bose;
  sh   = v;
  desc = "Display additional info while running";
  para = int;
  default = 0;
}

{
 name = help_all;
 sh   = h;
 desc = "Show help page";
 para = none;
}

{
 name = outfile;
 sh   = o;
 desc = "Set the output file name";
 para = string;
}


